<div class="w-3/4 m-auto text-center">
    <h2 class="text-4xl">Angular 13 latest features</h2>
    <ul class="list-disc text-left">
        <li>TypeScript 4.4 Support in angular13 </li>
        <li>Form Validation Improvements</li>
        <li>Changes to APF</li>
        <li>Enhancements to Angular Tests</li>
        <li>100% Ivy and No More Support for View Engine</li>
        <li>End of IE11 Support</li>
        <li>Update Component API’s</li>
        <li>Router Improvements</li>
        <li>Improvements in Angular CLI</li>
        <li>Framework changes and dependency updates</li>
        <li>Inline Support for Adobe Fonts</li>
        <li>Improvements in Localization </li>
    </ul>
</div>